{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Fontawesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />

    <!-- Google fonts -->
    <!-- Nunito -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <!-- Base Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/base.css' %}">

    {% block stylesheets %}
    {% endblock %}

    {% if title %}
    <title>Notes App - {{ title }}</title>
    {% else %}
    <title>Notes App</title>
    {% endif %}
</head>

<body onload="initialize_js_properties({{ global_js_properties }})">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% if user.is_authenticated and 'management' in groups_names %}
        <a class="navbar-brand" href="#">NOTES APP - Admin</a>
        {% else %}
        <a class="navbar-brand" href="#">NOTES APP</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                {% if user.is_authenticated %}
                {% if 'management' in groups_names %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'management:dashboard' %}"><i
                            class="fas fa-chart-line"></i>DASHBOARD</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authentication:logout' %}"><i class="fas fa-sign-out-alt"></i>LOG
                        OUT</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authentication:login' %}"><i
                            class="fas fa-sign-in-alt"></i>LOGIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authentication:register' %}"><i
                            class="fas fa-user-plus"></i>REGISTER</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    <!-- JQuery Script -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- Popper Script -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <!-- Bootstrap Script -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <!-- Chart JS Script -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>