{% extends 'homepage/base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'authentication/css/authentication.css' %}">
{% endblock stylesheets %}
{% block content %}
<div class="container authentication-container">
    <div class="row">
        <div class="col-md-12">
            <h3>LOGIN</h3>
        </div>
    </div>
    <form method="POST" action="{% url 'authentication:login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock content %}